/* standaard styling */
.lettertype
{
    font-family: 'Lateef', cursive;
}

/* navbar */
.navbar-background-color
{
    background-color: yellow;
}
.navbar-fontsize
{
    font-size: 35px;
}


/* footer */
.footer-background-color {
    background-color: #696969;
}