/* standaard styling */
.lettertype
{
    font-family: 'Roboto', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #ffffff;
    padding: 3px 8px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    color: #ffffff;
  }

/* navbar */
.navbar-background-color
{
    background-color: #8B0000;
}
.navbar-fontsize
{
    font-size: 20px;
}

.navbar-login
{
    font-size: 12px;
}

.nav
{
    display: inline-block;
}

.brand-logo
{
    height: 50px;
}


/* footer */
#footer 
{
    position:absolute;
    bottom:0;
    width:100%;
}
.footer-background-color {
    background-color: #2c2f33;
}

.footer-background-color2 {
    background-color: #23272a;
}

.footer-fontsize
{   
    font-size: 15px;
    color: whitesmoke;
}


/* homepage */

.home-margin-top {
    margin-top: 50px ;
}

.home-margin-bottom {
    margin-bottom: 50px;
}
